c.PAMAuthenticator.open_sessions = False
c.Authenticator.whitelist = {'jupyter'}
c.Authenticator.admin_users = {'jupyter'}
c.Authenticator.create_system_users = True
c.Authenticator.add_user_cmd = ['adduser', '-m', '-G', 'jupyter_users']
c.JupyterHub.spawner_class = 'dockerspawner.SystemUserSpawner'
c.JupyterHub.hub_ip = '172.17.0.1'